In [2]:
import pandas as pd
import numpy as np
from numpy import*

In [2]:
df=pd.read_table('D:\Practice Pandas\Data Analysis\data-wrangling_chp-31.txt', sep=',')
df.head()

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN

In [3]:
df1=pd.read_table(r'D:\Practice Pandas\Data Analysis\berlin_weather_oldest-1.txt', sep=',')
df1.head()

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310103,-9999,-9999,-9999,28,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310105,13,-9999,-9999,39,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310106,-9999,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

### 1. Get the Metadata from the above files.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator                  4656 non-null object
PUBLISH STATES             4656 non-null object
Year                       4656 non-null int64
WHO region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null float64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(4), int64(2), object(6)
memory usage: 436.6+ KB

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

### 2. Get the row names from the above files.

In [29]:
df1.index                                           # in range-index form

RangeIndex(start=0, stop=117208, step=1)

In [30]:
type(df1.index)

pandas.core.indexes.range.RangeIndex

In [21]:
df.index

RangeIndex(start=0, stop=4656, step=1)

### 3. Change the column name from any of the above file.

In [8]:
df.columns=df.columns.str.replace('Indicator', 'Indicator_Id')
df.head()

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN

### 4. Change the names of multiple columns.

In [9]:
#co=['Indicator_Id', 'Publish_States', 'WHO_region', 'World_Bank_Income_Group', 'Country', 'Sex', 'Display Value', 'Numeric', 'Low', 'High', 'Comments']
dc=pd.DataFrame(df, columns=['Indicator_Id', 'Publish_States', 'WHO_region', 'World_Bank_Income_Group', 'Country', 'Sex', 'Display Value', 'Numeric', 'Low', 'High', 'Comments'])
dc.head()

,Indicator_Id,Publish_States,WHO_region,World_Bank_Income_Group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),NaN,NaN,NaN,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),NaN,NaN,NaN,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),NaN,NaN,NaN,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),NaN,NaN,NaN,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),NaN,NaN,NaN,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN

### 5. Arrange values of a particular column in ascending order.

In [10]:
df.sort_values('Year', ascending=True)

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

### 7. Arrange multiple column values in ascending order.

In [11]:
df.sort_values(['Indicator_Id','Country', 'Year', 'WHO region', 'PUBLISH STATES'], ascending=[True, True, True, True, True])

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45.0,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45.0,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45.0,NaN,NaN,NaN
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49.0,NaN,NaN,NaN
4457,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
2598,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Both sexes,62,62.0,NaN,NaN,NaN
3690,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Male,60,60.0,NaN,NaN,NaN
3691,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Female,64,64.0,NaN,NaN,NaN
2599,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Female,66,66.0,NaN,NaN,NaN
3692,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Male,64,64.0,NaN,NaN,NaN
4064,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Both sexes,65,65.0,NaN,NaN,NaN
3408,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Both sexes,60,60.0,NaN,NaN,NaN
3734,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Male,59,59.0,NaN,NaN,NaN
4114,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Female,61,61.0,NaN,NaN,NaN
3409,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Male,62,62.0,NaN,NaN,NaN
3735,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Both sexes,62,62.0,NaN,NaN,NaN
4115,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Female,63,63.0,NaN,NaN,NaN
3367,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Male,67,67.0,NaN,NaN,NaN
3368,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Female,72,72.0,NaN,NaN,NaN
3369,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,70,70.0,NaN,NaN,NaN
2248,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Both sexes,72,72.0,NaN,NaN,NaN
2600,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Male,70,70.0,NaN,NaN,NaN
2601,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Female,74,74.0,NaN,NaN,NaN
2246,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Male,38,38.0,NaN,NaN,NaN
2247,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Female,40,40.0,NaN,NaN,NaN
3364,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Both sexes,39,39.0,NaN,NaN,NaN
3365,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Female,45,45.0,NaN,NaN,NaN
3366,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Both sexes,44,44.0,NaN,NaN,NaN
4063,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Male,43,43.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Male,71,71.0,NaN,NaN,NaN
669,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Both sexes,76,76.0,NaN,NaN,NaN
1073,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Female,80,80.0,NaN,NaN,NaN
288,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Both sexes,58,58.0,NaN,NaN,NaN
1510,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Male,56,56.0,NaN,NaN,NaN
3099,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Female,59,59.0,NaN,NaN,NaN
673,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Male,59,59.0,NaN,NaN,NaN
674,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Both sexes,61,61.0,NaN,NaN,NaN
1918,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Female,62,62.0,NaN,NaN,NaN
289,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,64,64.0,NaN,NaN,NaN
1076,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Female,65,65.0,NaN,NaN,NaN
3098,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Male,62,62.0,NaN,NaN,NaN
290,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Both sexes,43,43.0,NaN,NaN,NaN
1078,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Male,40,40.0,NaN,NaN,NaN
1922,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Female,47,47.0,NaN,NaN,NaN
291,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,41,41.0,NaN,NaN,NaN
1079,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Male,40,40.0,NaN,NaN,NaN
1080,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Female,43,43.0,NaN,NaN,NaN
292,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,57,57.0,NaN,NaN,NaN
679,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Female,58,58.0,NaN,NaN,NaN
3100,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Male,55,55.0,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62.0,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64.0,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60.0,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42.0,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42.0,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42.0,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60.0,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56.0,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58.0,NaN,NaN,NaN

### 7. Make country as the first column of the dataframe.

In [12]:
df.set_index('Country')

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
Country,,,,,,,,,,,
Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
Antigua and Barbuda,Life expectancy at birth (years),Published,2000,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
Austria,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,25,25.0,NaN,NaN,NaN
Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
Brunei Darussalam,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

### 8. Get the column array using a variable

In [27]:
fgh=np.array(df['Country'])
fgh

array(['Andorra', 'Andorra', 'Andorra', ..., 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

### 9. Get the subset rows 11, 24, 37

In [39]:
df.iloc[[11,24,37]]

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
37,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Cyprus,Female,26,26.0,NaN,NaN,NaN

### 10. Get the subset rows excluding 5, 12, 23, and 56

In [42]:
df.drop([5,12,23,56], axis=0)

,Indicator_Id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
30,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Switzerland,Both sexes,23,23.0,NaN,NaN,NaN
31,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Cook Islands,Both sexes,76,76.0,NaN,NaN,NaN
32,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Cook Islands,Female,22,22.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

# Load datasets from CSV
* users
* transextions
* session
* products

In [4]:
dfu=pd.read_csv(r'D:\\Practice Pandas\\Data Analysis\\Data Wrangling\\users.csv', sep='\,')
dft=pd.read_csv(r'D:\\Practice Pandas\\Data Analysis\\Data Wrangling\\transections.csv', sep='\,')
dfs=pd.read_csv(r'D:\\Practice Pandas\\Data Analysis\\Data Wrangling\\session.csv', sep='\,')
dfp=pd.read_csv(r'D:\\Practice Pandas\\Data Analysis\\Data Wrangling\\products.csv', sep='\,')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [59]:
dfu

  """UserID""      ""User""  ""Gender"" ""Registered"" ""Cancelled"""
0          "1   ""Charles""    ""male""     2012-12-21            NA"
1          "2     ""Pedro""    ""male""     2010-08-01    2010-08-08"
2          "3  ""Caroline""  ""female""     2012-10-23    2016-06-07"
3          "4   ""Brielle""  ""female""     2013-07-17            NA"
4          "5  ""Benjamin""    ""male""     2010-11-25            NA"
5          "6    2013-12-23           2              5             6"
6          "7    2013-12-30           3              4             1"

In [60]:
dft

,"""""""TransactionID""""","""""TransactionDate""""","""""UserID""""","""""ProductID""""","""""Quantity"""""""
0,"""1",2010-08-21,7,2,"1"""
1,"""2",2011-05-26,3,4,"1"""
2,"""3",2011-06-16,3,3,"1"""
3,"""4",2012-08-26,1,2,"3"""
4,"""5",2013-06-06,2,4,"1"""
5,"""6",2013-12-23,2,5,"6"""
6,"""7",2013-12-30,3,4,"1"""

In [61]:
dfs

  """SessionID"" ""SessionDate"" ""UserID"""
0             "1      2010-01-05          2"
1             "2      2010-08-01          2"
2             "3      2010-11-25          2"
3             "4      2011-09-21          5"
4             "5      2011-10-19          4"
5             "6      2012-10-23          4"
6             "7      2012-12-21          3"
7             "8      2013-05-22          4"

In [62]:
dfp

  """ProductID"" ""Product"" ""Price"""
0             "1       ""A""     14.16"
1             "2       ""B""     33.04"
2             "3       ""C""     10.65"
3             "4       ""D""     10.02"
4             "5       ""E""     29.66"